# Merging Data avec Pandas 

Dans la science de donn√©es on a souvent besoin de fusionner des tableaux. On peut le faire avec la fonction `merge()` qui prend comme param√®tres deux `DataFrames` ainsi que les colonnes avec lesquelles r√©aliser les jointures. Cette m√©thode est tr√®s similaire √† SQL sur le principe üî≠

### Importer pandas et les dataset `user_device.csv`, `user_usage.csv` et `android_devices.csv`

In [2]:
import pandas as pd
user_device =  pd.read_csv('./data/user_device.csv')
user_usage =  pd.read_csv('./data/user_usage.csv')
android_devices = pd.read_csv('./data/android_devices.csv')

### Importer les dataset & renommer la colonne `Branding` du dataset `android_devices.csv`

In [11]:
android_devices.rename(columns={"Retail Branding": "manufacturer"},inplace='true')

### Afficher les dataset

In [5]:
user_usage.head()

   outgoing_mins_per_month  outgoing_sms_per_month  monthly_mb  use_id
0                    21.97                    4.82     1557.33   22787
1                  1710.08                  136.88     7267.55   22788
2                  1710.08                  136.88     7267.55   22789
3                    94.46                   35.17      519.12   22790
4                    71.59                   79.26     1557.33   22792

In [6]:
user_device.head()

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1

In [12]:
android_devices.head()

  manufacturer Marketing Name    Device                      Model
0          NaN            NaN    AD681H  Smartfren Andromax AD681H
1          NaN            NaN     FJL21                      FJL21
2          NaN            NaN       T31              Panasonic T31
3          NaN            NaN  hws7721g         MediaPad 7 Youth 2
4           3Q        OC1020A   OC1020A                    OC1020A

### Votre premier merge

In [13]:
android_devices.rename(columns={"device": "Device"})
M= pd.merge(user_usage,
            user_device[['use_id', 'platform', 'device']],
            on='use_id')

M.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F

### Afficher la `shape` de vos dataset ainsi que celle du dataset de sortie 

Que remarquez vous ?

In [122]:

print("user_usage dimensions :", user_usage.shape)
print("user_device dimensions :", user_device.shape)
print("result dimensions :", M.shape)

user_usage dimensions : (240, 4)
user_device dimensions : (272, 6)
result dimensions : (159, 6)

### Afficher via `value_counts` les `use_id` pr√©sent dans le nouveau dataset ainsi que ceux non pr√©sent

In [25]:
user_usage['use_id'].isin(user_device['use_id']).value_counts()

True     159
False     81
Name: use_id, dtype: int64

### Le left merge

Afficher la `shape` du dataset `user_usage`, celle du dataset de sortie ainsi que les valeurs manquantes.

In [14]:
Ml = pd.merge(user_usage,
              user_device[['use_id',"platform","device"]],
              how="left",
              on="use_id")

missing_value = Ml['device'].isna().sum()

print("user_usage dimensions :", user_usage.shape)
print("result dimensions :", Ml.shape)
print("There are" ,missing_value," missing values in the result" )

user_usage dimensions : (240, 4)
result dimensions : (240, 6)
There are 81  missing values in the result

### Afficher votre dataset

In [120]:
Ml.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,user_id,platform,platform_version,device,use_type_id
0,21.97,4.82,1557.33,22787,12921.0,android,4.3,GT-I9505,1.0
1,1710.08,136.88,7267.55,22788,28714.0,android,6.0,SM-G930F,1.0
2,1710.08,136.88,7267.55,22789,28714.0,android,6.0,SM-G930F,1.0
3,94.46,35.17,519.12,22790,29592.0,android,5.1,D2303,1.0
4,71.59,79.26,1557.33,22792,28217.0,android,5.1,SM-G361F,1.0

### Le right merge

Afficher la `shape` du dataset `user_device`, celle du dataset de sortie ainsi que les valeurs manquantes des colonnes `monthly_mb` et `platform`.

In [126]:
Mr = pd.merge(user_usage,
              user_device[['use_id','platform','device']],
              how="right",
              on="use_id")

print("user_device dimensions :", user_device.shape)
print("result dimensions :", Mr.shape)
print("There are" ,Mr['monthly_mb'].isna().sum()," missing values in the 'monthly_mb' column in the resul" )
print("There are" ,Mr['platform'].isna().sum()," missing values in the 'platform' column in the result" )

user_device dimensions : (272, 6)
result dimensions : (272, 6)
There are 113  missing values in the 'monthly_mb' column in the resul
There are 0  missing values in the 'platform' column in the result

### Le outer merge example

Afficher les valeurs unique de `use_id` des datasets `user_device` & `user_usage`, celle du dataset de sortie ainsi que les valeurs no manquantes.

In [13]:
Mo = pd.merge(user_usage,
              user_device[['use_id','platform','device']],
              how="outer",
              on="use_id")

print("There are ",len(Mo['use_id'].unique())," unique values of use_id in our dataframes.")
print("Outer merge result has",Mo.shape," rows.")
#apply => Function to apply to each column or row.
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html

#checker chaque case de chaque ligne  
#isna return bool (1,0) 
#donc si la somme de la ligne de resultats de isna > 0 ===> la ligne contient des valeurs null
#si la somme == 0 la ligne ne contient pas de valeur NaN et donc il faut compter la somme de ses lignes 

#def sumResultIsna(x):
#    return x.isna().sum()


#axis type number, 0 for colomns, 1 for rows
def getNbOfRowsOrColumnsNoMissingValue(dataframe,axis):
    if axis <0 or axis >1: return print("To check missing value you must enter number please, 0 for colomns, 1 for rows")
    if not isinstance(dataframe, pd.DataFrame): return print('No dataframe')
    nb = (dataframe.apply(lambda x: x.isna().sum(),axis=axis) == 0).sum()
    print("There are", nb ,"rows" if axis else "columns" ," with no missing values" )

    
getNbOfRowsOrColumnsNoMissingValue([],1)

There are  353  unique values of use_id in our dataframes.
Outer merge result has (353, 6)  rows.
None dataframe

### Afficher les lignes `0,1,200,201,350,351`

In [24]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iloc.html?highlight=iloc#pandas.DataFrame.iloc
Mo.iloc[[0,1,200,201,350,350]]

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device
0,21.97,4.82,1557.33,22787,android,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F
200,28.79,29.42,3114.67,23988,NaN,NaN
201,616.56,99.85,5414.14,24006,NaN,NaN
350,NaN,NaN,NaN,23050,ios,"iPhone7,2"
350,NaN,NaN,NaN,23050,ios,"iPhone7,2"

### Ajouter les colonnes `device` & `manufacturer`

In [24]:
#jointure entre Mo (resultats de merge outer) et android_devices
#renommer Retail Branding to manufacturer
#DataFrame with the renamed axis labels or None if ``inplace=True``.
#The commun column is device but in adnroid_devices it's Device i rename Device to device

#J'obtient pas le m√™me r√©sultat car les colonnes ne sont pas nomm√© de la m√™me fa√ßon 
#dans les deux dataframe
df1 = pd.merge(Mo,android_devices[["device","manufacturer","Model"]],
               how="left",
               on="device")
#I try merge tow dataframe without commun column with left_on and right_on
#device for left dataframe (Mo), Model for right dataframe android_devices
df2 = pd.merge(Mo,android_devices[["manufacturer","Model"]],
               how="left",
               left_on="device",
               right_on="Model") 

df2.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,manufacturer,Model
0,21.97,4.82,1557.33,22787,android,GT-I9505,Samsung,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F,Samsung,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F,Samsung,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303,Sony,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F,Samsung,SM-G361F

### Afficher les `device` commencant par 'GT'

In [25]:
android_devices.sort_values(by=["device"],key=lambda x: x.str.find("GT")==-1).head()

      manufacturer Marketing Name     device      Model
9301       Samsung     Galaxy Ace   GT-S6358   GT-S6358
10798      Samsung  Galaxy Xcover  GT-S5690M  GT-S5690M
10797      Samsung  Galaxy Xcover  GT-S5690L  GT-S5690L
10796      Samsung  Galaxy Xcover   GT-S5690   GT-S5690
9300       Samsung     Galaxy Ace  GT-S5839i  GT-S5839i

### Afficher le dataset des r√©sultats

In [23]:
df2.head()

,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb,use_id,platform,device,manufacturer,Model
0,21.97,4.82,1557.33,22787,android,GT-I9505,Samsung,GT-I9505
1,1710.08,136.88,7267.55,22788,android,SM-G930F,Samsung,SM-G930F
2,1710.08,136.88,7267.55,22789,android,SM-G930F,Samsung,SM-G930F
3,94.46,35.17,519.12,22790,android,D2303,Sony,D2303
4,71.59,79.26,1557.33,22792,android,SM-G361F,Samsung,SM-G361F

### Grouper vos donn√©es par `manufacturer`
Compter les `use_id` et afficher les moyennes des colonnes `outgoing_mins_per_month`, `outgoing_sms_per_month`, `monthly_mb`

In [36]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html?highlight=agg#pandas.DataFrame.agg
#Different aggregations per column
df2.groupby('manufacturer').agg({'use_id':'count', 'outgoing_mins_per_month':'mean','outgoing_sms_per_month':'mean','monthly_mb':'mean'})

,use_id,outgoing_mins_per_month,outgoing_sms_per_month,monthly_mb
manufacturer,,,,
HTC,47,299.842955,93.059318,5144.077955
Huawei,6,81.526667,9.500000,1561.226667
LGE,3,111.530000,12.760000,1557.330000
Lava,2,60.650000,261.900000,12458.670000
Lenovo,2,215.920000,12.930000,1557.330000
Motorola,16,95.127500,65.666250,3946.500000
OnePlus,12,354.855000,48.330000,6575.410000
Samsung,126,191.010093,92.390463,4017.318889
Sony,16,177.315625,40.176250,3212.000625
Vodafone,1,42.750000,46.830000,5191.120000
ZTE,1,42.750000,46.830000,5191.120000